.App-body {
    display: flex;
    padding: 20px;
    padding-bottom: 300px;
    text-align: left;
  }
  
  .body-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .form-group {
    margin-bottom: 10px;
  }

  .form-label {
    margin-left: 2rem;
  }
  
  .form-input {
    max-height: 15px;
    margin-left: 2rem;
  }
  
  .OK-button {
    margin-left: 2rem;
    height: 20px;
  }