/* task_1/dashboard/src/Notifications.css */

.Notifications {
    border: 3px dotted red;
    padding: 10px;
}

.Notifications ul li[data-priority="default"] {
    color: blue;
}

.Notifications ul li[data-priority="urgent"] {
    color: red;
}

.notificationMenu {
    position: absolute;
    right: 1%;
}
